<head>
    <title>Vega Lite Bar Chart</title>
    <meta charset="utf-8">


    <script src="https://cdn.jsdelivr.net/npm/vega@3"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-lite@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-embed@3"></script>

    <!--uncomment if you decide to use advanced tooltips-->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/vega-tooltip/0.4.4/vega-tooltip.js"></script>
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/vega-tooltip/0.4.4/vega-tooltip.css"> -->

    <!--d3 and jquery might be helpful if you want to load data only once-->
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <style media="screen">
        /* Add space between Vega-Embed links  */
        .vega-actions a {
            margin-right: 5px;
        }
    </style>
</head>
<body>

<!-- Container for the visualization -->
<div id="chart1"></div>
<div id="chart2"></div>
<div id="chart3"></div>
<div id="chart4"></div>
<div id="chart5"></div>
<div id="chart5_1"></div>
<div id="chart5_2"></div>
<div id="chart6"></div>


<script>
    //initiate renderer, use it for all vega-embed.
    var opt = {"renderer": "svg", mode: "vega-lite"};
    var width = 600;

    //chart 1
    // Question 2.1: Worldwide Gross by Major Genre
    var chart1 = {
            "data": {"url": "/movies_lab3.json"},
            "mark": {"type": "point", "filled": true, "shape": "square"},
            "encoding": {
                "x": {"field": "Major_Genre", "type": "nominal"},
                "y": {"field": "Worldwide_Gross", "type": "quantitative"}
            },
            "width": width
    }

    vegaEmbed("#chart1", chart1, opt);
    //chart 2
    // Question 2.2: Mean of​ Worldwide Gross by Major Genre
    var chart2 = {
            "data": {"url": "/movies_lab3.json"},
            "mark": {"type": "line"},
            "encoding": {
                "x": {"field": "Major_Genre", 
                      "type": "nominal"},
                "y": {"field": "Worldwide_Gross",
                      "type": "quantitative",
                      "aggregate": "mean",
                     }
            },
            "width": width
    }

    vegaEmbed("#chart2", chart2, opt);

    //chart 3
    // Question 2.3: Combine chart 1 and chart 2 using layer
    var chart3 = {
        "data": {"url": "movies_lab3.json"},
        "layer": [
            {
            "mark": {"type": "point", 
                     "filled": true, 
                     "shape": "square"
                   },
            "encoding": {
                "x": {"field": "Major_Genre", 
                      "type": "nominal"},
                "y": {"field": "Worldwide_Gross", 
                      "type": "quantitative"}
            },
            "width": width
            }, 
            {
            "mark": {"type": "line"},
            "encoding": {
                "x": {"field": "Major_Genre", 
                      "type": "nominal"},
                "y": {"field": "Worldwide_Gross",
                      "type": "quantitative",
                      "aggregate": "mean",
                     },
            },
            "width": width
            }
         ],
    }

    vegaEmbed("#chart3", chart3, opt);

    // Question 2.4: Add color in Chart 3
    chart3 = {
        "data": {"url": "movies_lab3.json"},
        "layer": [
            {
            "mark": {"type": "point", 
                     "filled": true, 
                     "shape": "square"
                   },
            "encoding": {
                "x": {"field": "Major_Genre", 
                      "type": "nominal"},
                "y": {"field": "Worldwide_Gross", 
                      "type": "quantitative"},
                "color": {
                    "field": "Major_Genre",
                    "type": "nominal"
                }
            },
            "width": width
            }, 
            {
            "mark": {"type": "line"},
            "encoding": {
                "x": {"field": "Major_Genre", 
                      "type": "nominal"},
                "y": {"field": "Worldwide_Gross",
                      "type": "quantitative",
                      "aggregate": "mean",
                     },
            },
            "width": width
            }
         ],
    }
    vegaEmbed("#chart3", chart3, opt);

    // Question 2.5: Add Movie title tooltip to Chart 3
    chart3 = {
        "data": {"url": "movies_lab3.json"},
        "layer": [
            {
            "mark": {"type": "point", 
                     "filled": true, 
                     "shape": "square"
                   },
            "encoding": {
                "x": {"field": "Major_Genre", 
                      "type": "nominal"},
                "y": {"field": "Worldwide_Gross", 
                      "type": "quantitative"},
                "tooltip": {"field": "Title", 
                            "type": "nominal"},
                "color": {
                    "field": "Major_Genre",
                    "type": "nominal"
                }
            },
            "width": width
            }, 
            {
            "mark": {"type": "line"},
            "encoding": {
                "x": {"field": "Major_Genre", 
                      "type": "nominal"},
                "y": {"field": "Worldwide_Gross",
                      "type": "quantitative",
                      "aggregate": "mean",
                     },
            },
            "width": width
            }
         ],
    }
    vegaEmbed("#chart3", chart3, opt);

    //chart 4
    // Question 3.1: Revenue by Genre
    var chart4 = {
            "data": {"url": "/movies_lab3.json"},
            "transform": [
                {"calculate": "datum.Worldwide_Gross - datum.Production_Budget","as": "Revenue"}
            ],
            "layer": [
                // Genre against movie
                {
                "mark": {"type": "line"},
                "encoding": {
                    "x": {"field": "Major_Genre", 
                      "type": "nominal"},
                    "y": {"field": "Revenue",
                      "type": "quantitative",
                      "aggregate": "mean",
                }
                },
                "width": width

                },
                // Each movie against movie
                {
                    "mark": {"type": "point", 
                        "filled": false, 
                        "shape": "circle"
                            },
                    "encoding": {
                        "x": {"field": "Major_Genre", 
                          "type": "nominal"},
                        "y": {"field": "Revenue",
                          "type": "quantitative",
                        },
                        "tooltip": {"field": "Title", 
                            "type": "nominal"},
                        "color": {
                            "field": "Major_Genre",
                            "type": "nominal"
                        }
                    },
                    "width": width
                }
            ]  
    }

    vegaEmbed("#chart4", chart4, opt);

    //chart 5
    // Per the instructions, you will first create chart 5_1 and chart 5_2.
    // After merging them into chart 5, you can delete chart 5_1 and chart 5_2 if you want.

    //Question 4.1: Chart 5_1 and Chart 5_2
    var chart5_1 =  {
                    "data": {"url": "/movies_lab3.json"},
                    "transform": [
                        {"calculate": "datum.Worldwide_Gross - datum.Production_Budget","as": "Revenue"}
                    ],
                    "mark": {"type": "line", 
                        },
                    "encoding": {
                        "x": {"field": "Release_Date", 
                              "type": "temporal", 
                              "timeUnit": "month",
                              "axis": {"labelAngle":"0", "grid":true}
                            },
                        "y": {"field": "Revenue",
                          "type": "quantitative",
                          "aggregate": "mean"
                        },
                        //"tooltip": {"field": "Title", 
                        //    "type": "nominal"},
                        //"color": {
                        //    "field": "Major_Genre",
                        //    "type": "nominal"
                        //}
                    },
                    "width": width
                }
    //vegaEmbed("#chart5_1", chart5_1, opt);
    
    var chart5_2 =  {
                    "data": {"url": "/movies_lab3.json"},
                    "transform": [
                        {"calculate": "datum.Worldwide_Gross - datum.Production_Budget","as": "Revenue"}
                    ],
                    "mark": {"type": "line", 
                        },
                    "encoding": {
                        "x": {"field": "Release_Date", 
                              "type": "temporal", 
                              "timeUnit": "day",
                              "axis": {"labelAngle":"0", "grid":true}
                            },
                        "y": {"field": "Revenue",
                          "type": "quantitative",
                          "axis": {"grid":true},
                          "aggregate": "mean"
                        },
                        //"tooltip": {"field": "Title", 
                        //    "type": "nominal"},
                        //"color": {
                        //    "field": "Major_Genre",
                        //    "type": "nominal"
                        //}
                    },
                    "width": width
                }
    //vegaEmbed("#chart5_2", chart5_2, opt);

    //Question 4.2: Concat Chart 5_1 and Chart 5_2 to be one object.
    chart5 = {
        "selection": {
                        "pts": {"type": "interval"}
         },
        "vconcat": [ chart5_1, chart5_2]
    }
    vegaEmbed("#chart5", chart5, opt);

    //Question 4.3 Create a filter selection on chart 5.
    chart5 = {
        "data": {"url": "/movies_lab3.json"},
        "vconcat": [ 
                    {
                    "transform": [
                        {"calculate": "datum.Worldwide_Gross - datum.Production_Budget","as": "Revenue"}
                    ],
                    "selection": {
                        "brush": {"type": "interval", "encodings": ["x"]}
                    },
                    "mark": {"type": "line", 
                        },
                    "encoding": {
                        "x": {"field": "Release_Date", 
                              "type": "temporal", 
                              "timeUnit": "month",
                              "axis": {"labelAngle":"0", "grid":true},
                              "scale": {"domain": {"selection": "brush"}}
                            },
                        "y": {"field": "Revenue",
                          "type": "quantitative",
                          "aggregate": "mean"
                        }
                        //"tooltip": {"field": "Title", 
                        //    "type": "nominal"},
                        //"color": {
                        //    "field": "Major_Genre",
                        //    "type": "nominal"
                        //}
                    },
                    "width": width
                },
                {
                    "transform": [
                        {"calculate": "datum.Worldwide_Gross - datum.Production_Budget","as": "Revenue"},
                        {"filter": {"selection": "brush"}}
                    ],
                    "mark": {"type": "line", 
                        },
                    "encoding": {
                        "x": {"field": "Release_Date", 
                              "type": "temporal", 
                              "timeUnit": "day",
                              "axis": {"labelAngle":"0", "grid":true}
                            },
                        "y": {"field": "Revenue",
                          "type": "quantitative",
                          "axis": {"grid":true}
                          ,"aggregate": "mean"
                        }
                        //"tooltip": {"field": "Title", 
                        //    "type": "nominal"},
                        //"color": {
                        //    "field": "Major_Genre",
                        //    "type": "nominal"
                        //}
                    },
                    "width": width
                }
                ]
    }
    vegaEmbed("#chart5", chart5, opt);

    //(BONUS) chart 6
    // Question 5.1: Chart 6: Insight visualization
    // Showing “March is probably not a good time to release your movie.”
    var chart6 = {
                    "data": {"url": "/movies_lab3.json"},
                    "transform": [
                        {"calculate": "datum.Worldwide_Gross - datum.Production_Budget","as": "Revenue"}
                    ],
                    "mark": {"type": "bar", 
                        },
                    "encoding": {
                        "x": {"field": "Release_Date", 
                              "type": "temporal", 
                              "timeUnit": "month",
                              "axis": {"labelAngle":"0", "grid":true}
                            },
                        "y": {"field": "Revenue",
                          "type": "quantitative",
                          "aggregate": "mean"
                        },
                        "color": {
                            "field": "Major_Genre",
                            "type": "nominal"
                        },
                        "tooltip": {"field": "Major_Genre", 
                            "type": "nominal"}
                    },
                    "width": width
                }
    vegaEmbed("#chart6", chart6, opt);

</script>
</body>

